<div class="jumbotron">
  <h1>Witaj w kolejnym projekcie RoR</h1>
  <p>Kontynuujemy zabawę z frameworkiem RAILS</p>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Strona główna', root_path, class: 'btn btn-primary' %>
</div>
